@import url("./assets/AgencyFB-Bold/AgencyFB-Bold.ttf");
@font-face {
    font-family: 'AgencyFB';
    src: url('./assets/AgencyFB-Bold/AgencyFB-Bold.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Humanst521 BT';
    background-color: #0e121b;
}
#header {
    width: 96%;
    color: #6c7589;
    margin: 0 auto;
}
#header ul {
    display: flex;
    list-style: none;
    padding-bottom: 2%;
    overflow-x: scroll;
    font-size: 20px;
    scroll-snap-type: x mandatory;
}

#header ul::-webkit-scrollbar{
    display: none;
}

#header ul li {
    margin-top: 3px;
    margin: auto;
    padding: 8px 5%;
    scroll-snap-align: center;
    transition: ease-in-out .5s;
    font-weight: 100;
}
#header ul li i {
    color: #0e121b;
}

#header ul li:hover {
    cursor: pointer;
}

#header ul li.active  {
    text-shadow: #00d9f8 0px 60px 40px -7px;
    border-radius: 20px;
    scroll-snap-align: center;
    font-weight: 600;
    color: #00d9f8;
}
#header ul li .active i {
    text-shadow: #00d9f8 0px 60px 40px -7px;
}
.settings {
    display: flex;
    justify-content: right;
    width: 95%;
}
.settings #set{
    padding: 1% 2%;
} 

/* clock space */
#clock-space {
    padding: 4% 3%;
    color: #fff;
}
.clock-display {
    display: flex;
    margin-top: 8%;
    justify-content: center;
    justify-items: center;
    font-size: 32px;
    font-weight: 600;
}
.clock-display span {
    padding: 0 1px;
}
.name {
    color: #888;
    margin: auto;
    text-align: center;
}
/* alarm space */
#alarm-space {
    color: #fff;
    display: none;
    width: 90%;
    margin: auto;
}
#stopwatch-space .box, 
#alarm-space .box {
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 1%;
    flex-wrap: wrap;
}
#stopwatch-space .box .in-box,
#alarm-space .box .in-box {
    background-color: #fff;
    width: 49%;
    padding: 8px 6px;
    border-radius: 10px;
    margin-top: 2%;
    font-size: 18px;
}
#alarm-space .box .in-box {
    width: 100%;
}
.alarm-title {
    font-size: 8px;
    color: #888;
    margin-bottom: 6px;
}
.time {
    font-weight: 600;
}
.alarm-repeat {
    font-size: 12px;
    margin-bottom: 6px;
}
.foot {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    background-color: #00d9f8;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
}
.date {
    display: flex;
    justify-content: center;
}
/* Timer space */
#timer-space{
    display: none;
}
/* bedtime space*/
#bedtime-space {
    display: none;
    width: 90%;
    margin: auto;
    color: #fff;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-left: 0;
    padding-bottom: 1rem;
    font-size: 18px;
    font-weight: 600;
    border-bottom: rgba(177, 177, 177, 0.795) solid 0.5px;
    margin-bottom: 6px;
}
.onNdOff {
    background-color: #fff;
    border-radius: 15px;
    width: 3rem;
    height: 1.5rem;
    display: flex;
    padding: 1px;
    justify-content: left;
    transition: ease-in 0.5s;
}
#toggle {
    background-color: #888;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    margin: auto 0;
    transition: ease-in 0.5s;
}
.weekday ul {
    list-style: none;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}
.weekday ul li {
    width: 2rem;
    height: 2rem;
    background-color: rgb(43, 42, 42);
    color: #6c7589;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} 
.weekday ul li.active {
    background-color: #00d9f8;
    color: #0e121b;
} 
/* Stop-watch */
#stopwatch-space {
    display: none;
    width: 90%;
    margin: auto;
}
.heads {
    text-align: center;
    margin-bottom: 8px;
    font-size: 18px;
    color: #fff;
}
/* style for larger screen */
 @media (min-width: 768px) {
     body {
         display: flex;
         justify-content: space-between;
     }
     #header{
         height: 100vh;
         width: 15%;
         display: flex;
         justify-content: center;
         
     }
     #header ul {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         font-size: 26px;
         font-weight: 100;
         scroll-snap-type: none;
     }
     #header ul li {
         padding: 12px 12px;
         margin: 0;
         font-size: 28px;
     }
     #header ul li:hover {
         cursor: pointer;
         transform: translateX(5px);
     }
     .display-tab {
         width: 85%;
     }
 }